apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: intersect-ingress
  namespace: {{ include "common.names.namespace" . | quote }}
  labels: {{- include "common.labels.standard" ( dict "customLabels" .Values.commonLabels "context" $ ) | nindent 4 }}
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/use-regex: "true"
    nginx.ingress.kubernetes.io/rewrite-target: /$2
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    nginx.ingress.kubernetes.io/ssl-passthrough: "true"
    # https://github.com/kubernetes/ingress-nginx/blob/main/docs/user-guide/nginx-configuration/annotations.md#custom-max-body-size
    nginx.ingress.kubernetes.io/proxy-body-size: "20m"
    cert-manager.io/issuer: letsencrypt-prod
spec:
  ingressClassName: nginx
  tls:
  - hosts:
    - intersect.nationalsciencedatafabric.org
    secretName: intersect-dashboard-tls
  rules:
  - host: intersect.nationalsciencedatafabric.org
    http:
      paths:
      - pathType: ImplementationSpecific 
        path: /proxy(/|$)(.*)
        backend:
          service:
            name: nsdf-intersect-proxy-http-server
            port:
              number: 9071
      # root path needs to be last
      - pathType: ImplementationSpecific 
        path: /(|$)(.*)
        backend:
          service:
            name: nsdf-services-nsdf-intersect-dashboard
            port:
              number: 10042
