.DS_STORE
__pycache__
.pytest_cache
*.tgz
Chart.lock
.env.*
.env

# Do not store volume mounts
bragg_data
bragg_volume
transition_data
transition_volume
next_temperature_data
andie_volume
scientist_cloud_volume
state

# Do not commit true values yaml files
chart/values.*.yaml
