name: Publish Services to GHCR

on:
  push:
    tags:
      - "**"
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    env:
      DASHBOARD_IMAGE_NAME: intersect-dashboard
      DASHBOARD_SERVICE_IMAGE_NAME: intersect-service
      STORAGE_SERVICE_IMAGE_NAME: intersect-storage
      USERNAME: ${{github.repository_owner}}
      PASSWORD: ${{secrets.GITHUB_TOKEN}}
      IMAGE_TAGS: uv,${{github.sha}},${{github.ref_name}}
      SHA: ${{github.sha}}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - uses: dagger/dagger-for-github@8.0.0

      - name: Publish Dashboard Docker image to ghcr
        run: |
          dagger call publish-image --registry=ghcr.io --name=$DASHBOARD_IMAGE_NAME --versions=$IMAGE_TAGS --sha=$SHA --username=$USERNAME --password=env:PASSWORD

      - name: Publish Dashboard Service Docker image to ghcr
        run: |
          dagger call publish-image --registry=ghcr.io --name=$DASHBOARD_SERVICE_IMAGE_NAME --versions=$IMAGE_TAGS --sha=$SHA --username=$USERNAME --password=env:PASSWORD

      - name: Publish Storage Service Docker image to ghcr
        run: |
          dagger call publish-image --registry=ghcr.io --name=$STORAGE_SERVICE_IMAGE_NAME --tag=$IMAGE_TAGS --sha=$SHA --username=$USERNAME --password=env:PASSWORD
