name: Test

on:
  push:
    branches:
      - ci/add-uv
  pull_request:
    branches:
      - main

jobs:
  test-dashboard:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - uses: dagger/dagger-for-github@8.0.0

      - name: Run Dashboard Tests
        run: dagger call test-dashboard

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - uses: dagger/dagger-for-github@8.0.0

      - name: Test Image Builds
        run: |
          dagger call build-from-dockerfile --source="$GITHUB_WORKSPACE/services/nsdf_intersect_dashboard" --version=latest --sha=123
          dagger call build-from-dockerfile --source="$GITHUB_WORKSPACE/services/nsdf_intersect_service" --version=latest --sha=123
